<%= image_tag four_article.thumbnail if four_article.image.attached? %>
<div class='category-thumbnail-title ml-2 mr-2'>
  <%= link_to four_article.name, category_path(four_article.id) %>
</div>
<div class='category-thumbnail-text ml-2 mr-2 '>
  <p id='category-text' class='lead'><%= truncate(four_article.text, 50) %><p>
</div>