<div id='main-id'>
  <div class='row'>
    <%= render partial: 'main_article', collection: @main_articles %>
  </div>
  <div class='row'>
    <%= category_articles_helper(@category_articles) %>
  </div>
</div>
