<div class='container'>
  <div class='row'>
    <%= render partial: 'main_article', collection: @main_articles %>
  </div>
  <div class='row'>
    <% @category_articles.each do |a| %>
      <div class='col-md-4'>
        <%= image_tag a.thumbnail if a.image.attached? %>
        <%= a.title %>
      </div>
    <% end %>
  </div>
  <div class='row'>
    <%= render @articles %>
    </div>
</div>
