<div id='main-index'>
  <div id='main-id' class='row'>
    <%= render partial: 'main_article', collection: @main_articles %>
  </div>
  <div id='secondary-id'>
    <%= category_articles_helper(@category_articles) %>
  </div>
</div>
