<nav class="nav pl-3 pr-3">
  <%= link_to 'Bookcraze', class: 'logo' %>
  <div class="menu">
    <div class="menu-item">
      <a href="#" class="text-white mr-3">© 2020 Copyright. All rights reserved.</a>
    </div>
    <div class="menu-item ml-3 pl-3">
      <a href="#" class="text-white ml-3 mr-3"><a href="#"> Privacy</a>
      <a href="#" class='mr-3 ml-3'> Policy</a>
      <a href="#" class='mr-3 ml-3'> Terms & Conditions</a> </a>
    </div>
  </div>
</nav>
