<div class="footer-copyright text-left">
  <a href="#" class="logo text-white"> liFEsTlye</a>
</div>

<div class="footer-copyright text-center">
  <a href="#" class="text-white">© 2020 Copyright. All rights reserved.</a>
  <a href="#"> Privacy</a>
  <a href="#"> Policy</a>
  <a href="#"> Terms & Conditions</a>
</div>

<div class="footer-copyright text-right">
  <a href="#" class="text-white"> Connect with us: </a>

  <a href="#"></a>
  <a href="#"></a>
  <a href="#"></a>
</div>