<div class='d-flex justify-content-center'>
  <div class='category-article-text'>
    <%= image_tag category.category_thumbnail %>
  </div>
  <div class='category-article-text pl-2 pr-2'>
    <%= category.title %>
    <div class='pt-2'>
      <%= truncate(category.text, 500) %>
    </div>
    <div class='mt-2'>
      <%= link_to 'Read More', article_path(category.article_id) %>
    </div>
  </div>
</div>
