<div class='col-lg-3 d-flex justify-content-center'>
  <div class=''>
    <%= image_tag category.thumbnail %>
  </div>
  <div>
    <%= category.title %>
    <%= truncate(category.text, 14) %>
    <%= link_to 'Read More', article_path(category.article_id) %>
  </div>
</div>